body {
    color: rgb(246, 197, 132);
    text-align: center;
    font-family: "coriel";
}

.caja {
    border: 1px solid coral;
    background-color: darkgreen;
    border-radius: 1px;
    border-width: 10px;
    border-right: darkgrey;
}

.h1 {
    color: darkcyan;
    center
}

.bomba {
    border: 1px solid;
}